* {
    /* border: 1px solid red;  */
    font-family: 'Roboto', sans-serif,"DejaVu Sans";
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display:flex;
    background-color: #1F2937;
    padding: 12px;
}
.logo {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.links {
    flex:1;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB
}

.hero, .product-info,.quote-container,.signup-container {
    flex: 1 1 auto;
    min-height: 450px;
}

.hero {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding: 16px 100px;
}

.hero-containers {
    flex:0 1 auto;
    height: 330px;
    width: 540px;
}
.hero-description {
    display: flex;
    flex-direction: column;
    gap:12px;
    
}

.hero-title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    
    
}

.signup-button {
    display: block;
    font-weight: bold;
    padding: 6px;
    font-size: 18px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
}



.product-info {
    display: flex;
    flex-direction: column;
}

.product-info-title {
    text-align: center;
    padding: 48px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.products {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product {
    width: 180px;
    height: 180px;
    border:5px solid #3882F6;
    border-radius: 10px;
}

.product-description {
    width: 180px;
    height: 180px;
    text-align: center;
    color: #5c667a;
}


/* footer */
.footer {
    display:flex;
    background-color: #1F2937;
    padding: 32px;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}